<!DOCTYPE html>
<html>

<head>
    <title>Mark Attendance</title>
</head>

<body>

    <h1>Mark Attendance</h1>

    <h3>
        Faculty :
        {{ faculty.faculty_name }}
    </h3>

    <h3>
        Date :
        {{ current_datetime }}
    </h3>

    <br>
    <form method="POST">
        {% csrf_token %}
        <label>Select Subject</label>

        <select id="subject" name="subject">

            <option value="">
                ---------
            </option>

            {% for sub in subjects %}

            <option value="{{ sub.subject_name }}">

                {{ sub.subject_name }}

            </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Select Course</label>

        <select id="course" name="course">

            <option value="">
                ---------
            </option>

            {% for course in courses %}

            <option value="{{ course.id }}">

                {{ course.complete_name }}

            </option>

            {% endfor %}

        </select>

        <br><br>
        <input type="hidden" name="present_students" id="present_students">
        <div id="students-container">

            <br><br>

            

            
        </div>
        <button type="submit">

                Submit Attendance

            </button>
    </form>
        <style>
            .student-card {

                width: 150px;
                height: 80px;

                border: 1px solid black;

                display: flex;

                justify-content: center;
                align-items: center;

                margin: 10px;

                cursor: pointer;

                color: white;

                font-weight: bold;
            }

            .absent {
                background: red;
            }

            .present {
                background: green;
            }

            #students-container {

                display: flex;

                flex-wrap: wrap;
            }
        </style>


        <script>

            document.getElementById('course').addEventListener(
                'change',
                function () {

                    let courseId = this.value

                    fetch(`/faculty/get-students-by-course/?course_id=${courseId}`)

                        .then(response => response.json())

                        .then(data => {

                            let container = document.getElementById(
                                'students-container'
                            )

                            container.innerHTML = ''

                            data.forEach(student => {

                                let div = document.createElement('div')

                                div.classList.add(
                                    'student-card',
                                    'absent'
                                )

                                div.setAttribute(
                                    'data-student-id',
                                    student.student_id
                                )

                                div.innerHTML = student.student_id

                                div.addEventListener(
                                    'click',
                                    function () {

                                        if (
                                            div.classList.contains('absent')
                                        ) {

                                            div.classList.remove('absent')

                                            div.classList.add('present')

                                        }

                                        else {

                                            div.classList.remove('present')

                                            div.classList.add('absent')
                                        }

                                        updatePresentStudents()
                                    }
                                )

                                container.appendChild(div)

                            })

                        })

                }
            )
            function updatePresentStudents() {

                let presentStudents = []

                document.querySelectorAll('.present')

                    .forEach(div => {

                        presentStudents.push(
                            div.getAttribute('data-student-id')
                        )

                    })

                document.getElementById(
                    'present_students'
                ).value = presentStudents.join(',')
            }

        </script>
</body>

</html>