<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty List</title>
</head>
<body>
    <table border="1" cellpadding="10">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>option_selected</th>
            <th>Designation</th>
            
        </tr>
        {% for fac in faculty %}
            <tr>
            <td>{{fac.faculty_id}}</td>
            <td>{{fac.faculty_name}}</td>
            <td>{{fac.faculty_email}}</td>
            <td>{{fac.optionselected}}</td>
            <td>{{fac.faculty_designation}}</td>
           
            <td><a href="/erpadmin/form2_edit/{{fac.id}}">Edit</a></td>
            </tr>

        {% endfor %}
    </table>
    
</body>
</html>