<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Faculty Record</title>
</head>
<body>
    <h1>Edit Faculty Record</h1>
    <p>
    <ul>
        <li>Copy the contents for the option selected</li>
        <li>
            <ol>
                <li>HOD - IT</li>
                <li>HOD - Management</li>
                <li>opt1_IT_Only</li>
                <li>opt2_Manag_Only</li>
                <li>opt3_Both_roles</li>
            </ol>
        </li>
    </ul>
    </p>
    <form method="POST">
        {% csrf_token %}

        {{form.as_ul}}

        <button type="submit">Update Record</button>
    </form>
</body>
</html>