*{
    padding:0; 
    margin:0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

@font-face {
    font-family: 'sourcesanspro';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://design.penpot.app/fonts/sourcesanspro-regular.woff) format('woff');
  }



/* temp */

.custom-input{
position:absolute;

left:130px;   /* starts after label */
top:138px;

width:90px;   /* space before separator line */

background:transparent;
border:none;
outline:none;

color:white;
caret-color:white;

font-size:18px;
font-family:sourcesanspro;

z-index:10;   /* ensures visible above rectangle */
}

@media(max-width:576px){

.custom-input{

left:110px;
top:533px;
width:70px;

font-size:20px;

}

}

.image-login-logo {
  position: absolute;
  left: 248px;
  top: 132px;
  width: 145px;
  height: 40px;
  background: url(../login_student/LoginButton.png) no-repeat center center / cover;
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
}

/* Rectangle */
.rectangle-seperator {
  position: absolute;
    left: 224px;
    top: 130px;
    width: 4px;
    height: 42px;

  background: #fbfcffFF;
}

/* College id :  */
.college-id-cd07efa9893b {
  position: absolute;
  left: 27px;
  top: 151px;
  height: 44px;
}
.college-id-cd07efa9893b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.college-id-cd07efa9893b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.college-id-cd07efa9893b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.college-id-cd07efa9893b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(245, 240, 240, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  font-size: 18px;
  text-rendering: geometricPrecision;
  caret-color: rgba(245, 240, 240, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "sourcesanspro";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-input-container {
  position: absolute;
  left: 11px;
  top: 131px;
  width: 395px;
  height: 40px;
  background: #000515AD;
  border-start-start-radius: 55px;
  border-start-end-radius: 55px;
  border-end-start-radius: 55px;
  border-end-end-radius: 55px;
}

@media (max-width: 576px) {

  /* input container */
  .rectangle-input-container {
    left: 1px;
    top: 510px;
    width: 339px;
    height: 68px;
  }

  /* separator line */
  .rectangle-seperator {
    left: 188px;
    top: 513px;
    width: 4px;
    height: 63px;
  }

  /* login logo button */
  .image-login-logo {
    left: 195px;
    top: 525px;
    width: 145px;
    height: 40px;
  }

  /* College id text container */
  .college-id-cd07efa9893b {
    left: 14px;
    top: 528px;
    height: 24px;
  }

  /* font adjustment (mobile version from schematic) */
  .college-id-cd07efa9893b 
  .root-0-paragraph-set-0-paragraph-0-text-0 {
    font-size: 20px;
  }

}
/* temp */

.top-panel{
  position: absolute;
  left: 0px;
  top: 2px;
  width: 100vw;
  height: 45px;
  background: #0a1638B4;
  border-start-start-radius: 25px;
  border-start-end-radius: 25px;
  border-end-start-radius: 25px;
  border-end-end-radius: 25px;
}

.full-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 576px) {

    .mobile-adjust {
        margin-left: 0vw;
        margin-right: 0vw;
        height: 100vh;
    }

}
@media (max-width: 410px) {

    .mobile-adjust {
        transform: translateX(-40px);

        z-index: -1;
        margin-top: 7vh;
    }

}

.image-responsive-custom {
  position: absolute;
  left: 30px;
  top: 55px;
  width: 253px;
  height: 61px;

  background: url("../login_student/College_Logo.png") no-repeat center center / cover;
}

@media (max-width: 576px) {

  .image-responsive-custom {
    left: 1px;
    top: 439px;
    width: 253px;
    height: 61px;
  }

}

